@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;500;600;700;800&display=swap');
* {
    font-family: "Google Sans Display", Roboto, Arial, sans-serif;
}

:root {
    --color-dafult: #1a73e8;
    --color-dafult-dark: #1b5baf;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: auto !important;
    height: auto !important;
}

.title {
    top: 0;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    display: block;
    position: relative;
    background-color: #444444;
    color: white;
    margin: 0;
}

#content-options .ul-inline li:nth-child(1) {
    margin-right: 20px;
}

.ul-inline {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-home {
    font-family: "Google Sans Display", Roboto, Arial, sans-serif;
    font-size: 2.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 3.25rem;
    padding-bottom: .5em;
}

.subtitle-home {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
    color: #5f6368;
}

@media only screen and (max-width:375px) {
    .title-home {
        font-size: 2.2rem;
        line-height: 3rem;
    }
}

@media only screen and (max-width:519px) {
    .ul-inline {
        display: block;
    }
    #content-options .ul-inline li:nth-child(2) {
        margin-top: 15px;
    }
    .btn-default {
        width: 100%;
    }
    #content-options .ul-inline li:nth-child(1) {
        margin: 0;
    }
}

.btn-default {
    background-color: var(--color-dafult);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 12px;
    border: 1px solid var(--color-dafult);
    font-size: 16px;
    font-weight: 500;
    font-family: "Google Sans Display", Roboto, Arial, sans-serif;
    transition: .2s ease-in-out;
}

.btn-default:hover,
.btn-default:focus {
    background: var(--color-dafult-dark);
}

#notification {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 18pt;
    width: 100%;
    background-color: orange;
}

.room-input {
    border: none;
    padding: 5px;
}

button {
    margin: 3px;
    padding: 5px;
}

#remote-video {
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    position: relative;    
}

#remote-video video{
    border-radius: 5px;
    border: 2px solid #444444;
    width: 100%;
    height: auto;
    box-shadow: 3px 5px 5px 0px #cecece;
}

#local-video {
    object-fit: cover;
    z-index: 1;
    margin: 0 auto;
    background-color: #444444;
    position: relative;
    display: block;
    width: 100vh;
    height: 100%;
    left: 0px;
}

.navbar-light .navbar-brand {
    color: #fff !important;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}

button:hover,
button:focus,
button:focus-visible,
button:visited,
.form-control:hover,
.form-control:focus,
.form-control:focus-visible,
.form-control:visited {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-light .navbar-brand {
    font-size: 24px;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-flicker {
    -webkit-animation: flickerAnimation 1s infinite;
    -moz-animation: flickerAnimation 1s infinite;
    -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}

.flag-live {
    background-color: #e11818f0;
    padding: 5px 10px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
}

#meet-area {
    padding-top: 10px;
    display: none;
    background-color: #202124;
    height: 100%;
}

.content-center {
    display: flex;
    align-items: center;
    padding: 40px 0;
    text-align: center;
}

.code-event {
    color: #631762;
    font-size: 13px;
}

audio {
    width: 100% !important;
    margin-bottom: 10px;
}

.btn-init-translate {
    background-color: green;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    transition: .2s ease-in-out;
    cursor: pointer;
    display: none;
}

.btn-init-translate:hover {
    color: #fff;
    background-color: rgb(4, 90, 4);
}

.input-group-text {
    background-color: transparent;
    border-right: 0;
    border: 1px solid #444444;
}

.input-hash {
    padding: 12px 12px 12px 5px;
    border: 1px solid #444444;
    border-left: 0;
}

.input-hash:focus {
    border-color: #444444;
}

.input-hash::placeholder {
    font-size: 16px;
    font-weight: 400;
}

#footer-page{
    bottom: 0;
    position: relative;
    background-color: #202124;
    z-index: 999;
}

.show-joins{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    overflow: auto;
    height: calc(100vh - 60px);
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}